#blog{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  
}
  
  .blogs-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .blogs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  
  .blog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #222;
  position: relative;
  overflow: hidden;
  }

  .blog-item:hover{
    border: 2px solid;
  }
  
  .blog-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .blog-content {
    flex-grow: 1;
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: auto;
    overflow-y: auto;
    max-height: 250px; 
  }
  
  .blog-date {
    align-self: flex-start; 
    font-size: 0.9rem;
    color: #777;
    
    bottom: 10px; 
    left: 10px; 
  }
  
  
  @media (max-width: 1200px) {

    .blogs-list {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 850px) {
    
    .blogs-title {
      font-size: 2rem;
    }
  
    .blog-title {
      font-size: 1.6rem;
    }
  
    .blog-content {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 600px) {
    
    .blogs-container {
      padding: 10px;
    }
  
    .blogs-title {
      font-size: 1.8rem;
    }
  
    .blog-title {
      font-size: 1.4rem;
    }
  
    .blog-content {
      font-size: 1rem;
    }
  }
  