
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    color:#fff;
  }

  .contact-mini-title{
    color:#fff;
    text-align: center;
  }
  
  .contact-title{
    font-size: 3rem;
    text-align: center;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    background: rgb(250, 250, 250); 
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
   
  .contact-info-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
   }
   
   .contact-info-container a:hover {
   color: #e0531f;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  
  .form-container {
    margin: 1rem 1.5rem;
    color: #fff;
  }
  
  .form-container h1 {
    text-align: center !important;
    color: #fff;
  }
  
  .form-container form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  
  .form-container input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
  }
  
  .form-container textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
  }
  
  .form-container button {
    color: #fff;
    background-color: #111;
    display: inline;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1) !important;
    border-radius: 10px;
    transition: 0.5s;
    height: 50px;
  }
  
  .form-container button:hover {
    color: #eb9372;
  }
  
  .form-container span {
    text-align: center;
  }
  
  
  .icon.arrow {
    cursor: pointer;
  }
  

  @media screen and (max-width: 1400px) {
  
  #contact{
    height: fit-content;
    margin: 0 ;
  }
}


@media screen and (max-width: 600px) {
  
  .contact-info-upper-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p {
    font-size: 1rem;
  }

.form-container form {

    padding-top: 2rem;
    width: 90%;
}
  
}