/* EXPERIENCE SECTION */

#experience {
    position: relative;
    margin-top: 20px;
  }
  
  .section__text__p1 {
    /* Assuming similar to general p styles */
    /* Add any specific styles if needed */
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers {
    display: flex;
    gap: 2rem;
    /* Additional gap for media queries already handled in GeneralStyles */
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }
  
  .icon.arrow {
    /* Assuming shared with AboutMe */
    /* If specific styles, add here */
  }
  