.footer{

  margin-top: 40px;
  padding: 2rem 3rem;
  background: #000;
  color: #fff;
}

.top{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top a {
  display: inline-block;
  font-size: 1.75rem;
  margin-left: 1rem;
  color: transparent; 
  transition: color 0.3s ease-in-out;
  color: #fff;
}

.top a:hover {
  color: #01959a;
}


.bottom{
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom  div{

  display: flex;
  flex-direction: column;
 
}

.bottom h4{

  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}


.bottom a{

  text-decoration: none;
  color: #FFFFF7;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.bottom a:hover {
  color: #01959a; 
  transform: translateY(1px); 
}

.footer-copyright{
  justify-content: center;
  padding-top: 4rem ;
}



@media screen and  (max-width: 850px){

  .footer{
      padding: 4rem 2rem;
  }
  .footer i{
      margin: 1rem 1rem 0 0;
  }
  .bottom div{

      width: 50%;
  }
  .footer-copyright{
    justify-content: center;
    padding-top: 4rem ;
  }

}
  