.App {
   /* text-align: center;  */
  padding-top: 0em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}

nav {
   display: flex;
    justify-content: space-between;
    column-gap: 1em;
     flex-wrap: wrap;  

    position: fixed; 
    padding-top: 0;
    height: 40px;
      width: 100%;
    background-color: #333;
    color: #eee;
    margin-bottom: 10px;
  }
  
  nav ul {
      padding: 0;
        margin: 0;
    }
  
  nav  li {
      display: inline;
      float: left;
    }
  
  nav  a {
        display: inline-block;
        width: 100px;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;
      color: #eee;
      text-decoration:none;  
    }
  
  nav  li:hover {
      background-color: #444;
    }
  
  nav  a#openup {
        display: none;
    }


*{
    font-family: Readex Pro;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
    margin: 0;
}

p,span,li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}


#wrapper--hero{
display: flex;
align-items: center;
gap: 4em;

}

#user-name{
    font-size:3em;
    line-height: 1em;
}

#bio,a{
    font-weight: 300;
}


#profile--pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#email{
    color: var(--mainTextColor);
}


 #socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
} 

#socials--list a{
    font-size:0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
}

#socials-list a:hover{
   color: var(--mainLinkColor);
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack--items{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}


.card--work--history{
   /* border-left: 1px solid var(--mainBorderColor); */
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 2em;
}

.line--break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: .3s;
}


.card--project a:hover{
    color: var(--mainLinkColor);
}

@media (max-width:600px) {

    nav {
		height: auto;
		border-bottom: 0;
	
	  ul {
		  display: none;
		  height: auto;
	  }	
	
	  li {
		  width: 100%;
		  float: left;
		  position: relative;
    }

  	a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
			background: #333;	 
      border-bottom: 1px solid #555;
  	}  	
	
  	 a:hover {
	  	background: #444;
  	}

	  a#openup:after {
		  content:"|||";
      -webkit-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg); /* IE 9 */
      transform:rotate(-90deg); /* Safari and Chrome */
		  width: 30px;
		  height: 30px;
		  display: inline-block;
		  position: absolute;
		  right: 5px;
		  top: 20px;
	  }
  	  		
	  a#openup {
		  display: block;
		  background-color: #333;
		  width: 100%;
		  position: relative;
	  }
  } 

  #wrapper--hero{
    flex-direction: column;
    gap: 1em;
  }
  
  #profile--pic{
    width: 200px;
    height: 200px;
  }

  .section--page{
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .card--work--history{
    border-left: none;
    padding-left: 0;
  }

}

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */


/*showcase*/
#scase{
	margin: 0;
	padding: 0;
	
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
  }

  #scase.container{
	margin-top: 25vh;

  }

  #scase h1{
	font-size: 4rem;
	margin-bottom: 0;
  }

  #scase h2{
	font-size: 2rem;
  }

  footer .footer-bottom{
    background:#333;
    padding: 1rem;
    align-items: center;
  }



.footer--bottomtext--center{
  align-items: center;
  margin-left: 300px;
}




















